body{
    min-height: 100vh;
    background-color: rgb(16, 27, 27);
    margin: 0px;
}
.game-box{
    height: 100vh;
}
.title{
    display: flex;
    justify-content: space-around;
    color: black;
    align-items: center;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}
#start-button:enabled{
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-family: fantasy, 'Times New Roman', Times, serif;  
    background-image: linear-gradient(red, blue); 
    color: yellow;
    position: relative;
    top: 150px;
}
#start-button:hover:enabled{
    background-image: linear-gradient(cyan, yellow);
    color: blue;
    cursor: pointer;
}
#start-button:disabled{
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-family: fantasy, 'Times New Roman', Times, serif; 
    background-image: gray;
    color: black;
    cursor: not-allowed;
    position: relative;
    top: 150px;
}
.playerNames{
    justify-content: center;
}
.game-board{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.input-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    color: yellow;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#player1,#player2
{
    height: 15px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 20px;
}
.choose-player{
    position: relative;
    top: 75px;
    width: 80%;
}
#grid-cont{
    display: grid;
    position: relative;
    top: 120px;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    gap: 2px;
    background-color: yellow;
    height: fit-content;
}
.grid-elm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
#round{
    display: flex;
    flex-direction: column;
    color: cyan;
    position: absolute;
    top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
