body{
    min-height: 100vh;
    background-color: rgb(16, 27, 27);
    margin: 0px;
}
.game-box{
    height: 100vh;
}
.title{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}
#player1,#player2{
    height: 20px;
    width: 250px;
}
.input-div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 75px;
    height: fit-content;
    color: yellow;
    width: max-content;
}
#start-button{
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-family: fantasy, 'Times New Roman', Times, serif;  
    background-image: linear-gradient(red, blue); 
    color: yellow;
    position: relative;
    top: 150px;
}
#start-button:hover{
    background-image: linear-gradient(cyan, yellow);
    color: blue;
    cursor: pointer;
}
.game-board{
    display: flex;
    background-color: black;
    height: 100%;
    width: 100%;
}
#grid-cont{
    display: grid;
    position: relative;
    top: 50px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 2px;
    background-color: yellow;
    height: fit-content;
}
.grid-elm{
    background-color: black;
}
